<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:amazon="http://schemas.amazon.com/apk/res/android"
          package="com.appboy.sample">

  <!-- Permissions -->
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

  <!-- Permissions for GCM -->
  <uses-permission android:name="android.permission.GET_ACCOUNTS"
                   android:maxSdkVersion="18" />
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
  <permission android:name="${applicationId}.permission.C2D_MESSAGE" android:protectionLevel="signature" />
  <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

  <!-- Permissions for ADM -->
  <permission android:name="${applicationId}.permission.RECEIVE_ADM_MESSAGE" android:protectionLevel="signature" />
  <uses-permission android:name="${applicationId}.permission.RECEIVE_ADM_MESSAGE" />
  <uses-permission android:name="com.amazon.device.messaging.permission.RECEIVE" />

  <application android:label="@string/app_name" android:icon="@drawable/ic_launcher_droidboy"
               android:allowBackup="true" android:name="DroidboyApplication" android:theme="@style/Theme.Droidboy" android:hardwareAccelerated="true">
    <amazon:enable-feature android:name="com.amazon.device.messaging" android:required="false" />
    <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_flzo8WNh8i9tdQl713oTFkhlrri9uA8k" />

    <meta-data
      android:name="com.google.android.gms.version"
      android:value="@integer/google_play_services_version" />
    <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="@string/google_maps_key" />

    <receiver android:name="com.appboy.AppboyAdmReceiver" android:permission="com.amazon.device.messaging.permission.SEND">
      <intent-filter>
        <action android:name="com.amazon.device.messaging.intent.RECEIVE" />
        <action android:name="com.amazon.device.messaging.intent.REGISTRATION" />
        <category android:name="${applicationId}" />
      </intent-filter>
    </receiver>

    <activity android:name=".DroidBoyActivity" android:label="@string/droid_boy" android:icon="@drawable/ic_launcher_droidboy"
              android:windowSoftInputMode="stateUnchanged">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <service android:name="com.appboy.services.AppboyGeofenceService"/>
    <service android:name="com.appboy.services.AppboyLocationService"/>

    <activity android:name=".GeofencesMapActivity" />
    <!-- Deep link example -->
    <activity android:name=".PreferencesActivity" android:label="Preferences">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <!-- Accepts URI "droidboy://preferences” -->
        <data android:scheme="droidboy"
              android:host="preferences"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <!-- Accepts URIs that begin with "https://www.droidboy.com/preferences” -->
        <data android:scheme="https"
              android:host="www.droidboy.com"
              android:pathPrefix="/preferences" />
      </intent-filter>
    </activity>
    <activity android:name=".FeedbackFragmentActivity" />
    <activity android:name=".FeedFragmentActivity" />

    <receiver android:name="com.appboy.AppboyBootReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>

    <receiver android:name="com.appboy.AppboyGcmReceiver" android:permission="com.google.android.c2dm.permission.SEND">
      <intent-filter>
        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
        <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
        <category android:name="${applicationId}" />
      </intent-filter>
    </receiver>

    <receiver android:name="io.branch.referral.InstallListener" android:exported="true">
      <intent-filter>
        <action android:name="com.android.vending.INSTALL_REFERRER" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
