<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.appboy.ui">

  <application>
    <activity
      android:name="com.appboy.ui.AppboyWebViewActivity"
      android:exported="false" />
    <activity
      android:name="com.appboy.ui.activities.AppboyFeedActivity"
      android:exported="false" />
    <activity
      android:name="com.appboy.ui.activities.AppboyContentCardsActivity"
      android:exported="false" />
    <activity
      android:name="com.appboy.push.NotificationTrampolineActivity"
      android:launchMode="singleInstance"
      android:exported="false"
      android:theme="@style/Braze.PushTrampoline.Transparent" />
    <receiver
      android:name="com.appboy.BrazePushReceiver"
      android:exported="false" />
  </application>
</manifest>
