<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.appboy.ui" android:versionCode="1" android:versionName="__VERSION_NAME__">
  <!-- Version code/name will be populated automatically in the build process.  Release versions of the SDK should have these values changed manually -->

  <!-- We're currently supporting back to Froyo. Target SDK should always be the latest version we support -->
  <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17"/>

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <!-- Required for Facebook SDK and obviously lots of other stuff. -->
  <uses-permission android:name="android.permission.INTERNET"/>

  <application android:allowBackup="false"/>
</manifest>

