<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.appboy.ui">
    <application>
        <activity android:name="com.appboy.ui.AppboyWebViewActivity" />
        <activity android:name="com.appboy.ui.activities.AppboyFeedActivity" />
        <activity android:name="com.appboy.ui.activities.AppboyContentCardsActivity" />
        <activity android:name="com.appboy.push.AppboyNotificationRoutingActivity" />
    </application>
</manifest>
