<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.appboy.location">
     <application>
        <receiver
          android:name="com.braze.location.BrazeActionReceiver"
          android:exported="false">
        </receiver>
    </application>
</manifest>
